.feedback-content-div{
    position: relative;
    float: left;
    width: 60%;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.feedback-content-div2{
    position: relative;
    float: right;
    margin-right: 30px;
    width: 30%;
    background-color: white;
    margin-top: 20px;
}
.feedBackContent-div{
    position: relative;
    width: 100%;
    height: auto;
    margin: 80px auto 30px auto;
}
.photo{
    position: relative;
    float: left;
    width: 26px;
    height: 26px;
    margin-top: 5px;
}
.pickName{
    float: left;
    margin-left: 20px;
    color: #4f4f4f;
}